<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec ="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="~{layout/layout.html}">
<th:block layout:fragment="content">
	<main>
    <h1 th:text="${'상품명 : '+product.name}"></h1>
    <h5 th:text="${'게시판 번호 : '+product.productId}"></h5>
    <p class="fs-5 col-md-8"></p>
    <div>
    	<img th:src="${thumbnailImageName}" width="400"/>
    </div> 
   	<div class="mb-5" th:text=${product.price+'원'}/>
    <div class="mb-5">
    	<a href="/docs/5.1/examples/" class="btn btn-primary btn-lg px-4">구매 하기</a>
    </div>

    <br>
    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h3>제품 설명</h2>
        <p th:text="${product.description}"></p>
      </div>
    </div>
    <br>
    <div class="col-md-6">
     	<h3>상품 사진</h3>
     	<div th:each="product : ${product.productImageList}">
     		<img th:src="${product.serverImageName}" width="200">
     		<br>
     	</div>
    </div>
  </main>
</th:block>
</html>
