<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec ="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="~{layout/layout.html}">
<th:block layout:fragment="content">
	<main>
    <h1 th:text="${'상품명 : ' + product.name}"></h1>
    <h5 th:text="${'게시판 번호 : '+ product.productId}"></h5>
    <div th:text="${'좋아요 : '+ product.like}"></div>
    <div th:text="${'조회수 : ' + product.hits}"></div>
    <p class="fs-5 col-md-8"></p>
    <div>
    	<img th:src="${thumbnailImageName}" width="400"/>
    </div> 
    <div th:if="${product.num > 0}">
	    <form th:object="${purchaseForm}" th:action="'/purchase/'+${product.productId}" method="post">
	 		<div class="col-1">
	  			<input type="text" class="form-control" 
	  				th:name="amount" id="amount" value="1">
	   		</div> 		    
	   		<br>
	   		<button type="button" id="plusButton" class="btn btn-primary" onclick="plus()">+</button>
	   		<button type="button" id="minusButton" class="btn btn-primary" onclick="minus()">-</button>
	   		<div class="mb-5">
	   			<div>총 금액 :</div> <input type="text" id="price" 
	   			class="col fw-bold" th:value=${product.price} style="border: none; background: transparent;" readonly>
	    	</div>
	    	
	    	<button type="submit" class="btn btn-primary btn-lg px-4">구매 하기</button>
	    </form>
	    <br>
	    <form th:action="@{'/product/like/' + ${productId}}" method="post">
	    	<input type="hidden" name="_method" value="put">
		    <input type="submit" class="btn btn-success btn-lg px-4" value="좋아요">
	    </form>
	    
	    <br>
	    <div th:if="${isLikeSuccess == false}"class="alert alert-danger" role="alert">
			`좋아요`는 한 번만 하실 수 있습니다.
		</div>
    </div>
    <br>
    <div class="alert alert-danger" th:if="${product.num < 1}" role="alert">
  		모두 팔렸습니다!
	</div>
    <br>
    <hr class="col-3 col-md-2 mb-5">

    <div class="row g-5">
      <div class="col-md-6">
        <h3>제품 설명</h2>
        <p th:text="${product.description}"></p>
      </div>
    </div>
    <br>
    <div class="col-md-6">
     	<h3>상품 사진</h3>
     	<div th:each="product : ${product.productImageList}">
     		<img th:src="${product.serverImageName}" width="200">
     		<br>
     	</div>
    </div>
  </main>
  <script>
  	/*<![CDATA[*/
		var price = "[[${product.price}]]";
  		var totalAmount = "[[${product.num}]]";
	/*]]*/
  	function plus(){
  		let amount = document.getElementById('amount').value;
	  	if(parseInt(totalAmount) > parseInt(amount)){
	  		document.getElementById('amount').value++;
	  		changeAmount("plus");
	  	}
  	}
  	function minus(){
  		let amount = document.getElementById('amount').value;
  		if(parseInt(document.getElementById('amount').value) > 1){
  			document.getElementById('amount').value--;
  			changeAmount("minus");
  		}
  	}
	function changeAmount(type){
		if(type=="plus"){
			document.getElementById('price').value = 
				parseInt(document.getElementById('price').value) + parseInt(price);
		}else{
			document.getElementById('price').value = 
				parseInt(document.getElementById('price').value) - parseInt(price);
		}
	}
	
	
  </script>
</th:block>
</html>
