<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec ="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="~{layout/layout.html}">

<th:block layout:fragment="content">
	<div>
	    <div class="row container-fluid">
	        <h2 class="m-3">자유 게시판</h2>
	        <div th:each="board : ${boardList}">
	        	<div class="row">
		        	<div class="col-9">
			        	<small><div th:text=${board.boardId}/></small>
			     
			        	<h6>
			        		<a th:href="@{'/board/detail/'+${board.boardId}}">
			        			<div th:text="${board.subject}"/>
			        		</a>
			        	</h6>
		        	</div>
		        	<div class="col">
		        		<div th:text="${'작성자: '+board.writer}"/>
		        		<small><div th:text="${board.uploadTime}"/></small>
		        	</div>
	        	</div>
	        	<hr>
	        </div>
	        <nav aria-label="Page navigation example">
				<ul class="pagination">
			    	<li class="page-item"  th:if="${pageMaker.prev}">
			      		<a class="page-link" href="#" aria-label="Previous">
			        		<span aria-hidden="true">&laquo;</span>
			      		</a>
			    	</li>
			    	<th:block th:each="num : ${#numbers.sequence(1,pageMaker.endPage)}">
			    		<li class="page-item">
			    			<a class="page-link" th:text="${num}" th:href="'/board/list/'+${num}">num</a>
			    		</li>
			    	</th:block>
			    	<li class="page-item" th:if="${pageMaker.next}">
			      		<a class="page-link" href="#" aria-label="Next">
			        		<span aria-hidden="true">&raquo;</span>
			      		</a>
			    	</li>
			  	</ul>
			</nav>
	        <button type="button" class="btn btn-primary" onclick="upload_button_click()">글쓰기</button>
	    </div>
    </div>
    <script>
    	function upload_button_click(){
    		location.href = "/board/upload";
    	}
    </script>
</th:block>
</html>