<html xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="nav">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    		<div class="container-fluid">
    			<img src="/image/app_icon.png" height="30">&nbsp;&nbsp;
	      		<a class="navbar-brand" href="/">FreeMarket</a>
	      		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	        		<span class="navbar-toggler-icon"></span>
	      		</button>
				<form class="d-flex">
	          		<input class="form-control me-2" type="search" placeholder="물품입력" aria-label="Search">
	          		<button class="btn btn-outline-success" type="submit">Search</button>
	      		</form>
	     		<div class="collapse navbar-collapse"></div>
	      		<div class="d-flex" id="navbarCollapse">
	       			<ul class="navbar-nav me-auto mb-2 mb-md-0">
	          			<li class="nav-item">
	            			<a class="nav-link active" aria-current="page" sec:authorize="isAnonymous()" 
	            				href="/signin">로그인</a>
	            			<a class="nav-link active" aria-current="page" sec:authorize="isAuthenticated()" 
	            				th:href="@{/logout}">로그아웃</a>
	            				
	          			</li>
	          			<li class="nav-item" sec:authorize="isAnonymous()">
	            			<a class="nav-link" href="/register">회원가입</a>
	          			</li> 
	        		</ul>
	      		</div>
    		</div>
  		</nav>
		<div sec:authorize="isAuthenticated()" th:if="${!account.isEmailverified}" class="alert alert-danger" role="alert"> 
			이메일 인증을 완료해주세요.&nbsp;<a th:href="@{'http://localhost:8080/emailSend/'+${account.username}}">다시 전송하기</a>
		</div>
	</th:block>
</html>

