<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout.html}">

	<th:block layout:fragment="content">
		<h4>구매목록</h4>
		<br>
		<div th:each="product : ${productList}">
		<div class="row border-bottom border-2">	
			<div class="col-2">
				<a th:href="@{'/product/'+${product.productId}}"/>
					<img th:src="${product.serverImageName}" width="80">
				</a>
			</div>
			<div class="col-7">	
				<h5>
				<a th:href="@{'/product/'+${product.productId}}"/>
					<div class="col" th:text="${product.name}">
						productName
					</div>
				</a>
				</h5>
				<div class="col">
					<div class="col-2" th:text="${'[' + product.type+ ']'}">
						type
					</div>		
				</div>
			</div>
			<div class="col">
				<div th:text="${'구매수량 : ' + product.amount}"></div>
				<h6><div th:text="${product.price+'원'}">price</div></h6>
			</div>
		</div>
		<br>
	</div>
	</th:block>
</html>