<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.AccountMapper">
	<cache eviction="FIFO" flushInterval="180000" size="512" readOnly="true" />

	<select id="selectById" resultType="com.example.demo.model.Account">
		SELECT *
		FROM account
		WHERE account_id = #{id}
	</select>
	<select id="selectByName" resultType="com.example.demo.model.Account">
		SELECT account_id, username, password, mail, isEmail_verified as isEmailverified
		FROM account
		WHERE username = #{username}
	</select>
	<select id="selectAccountOneColumn" resultType="com.example.demo.model.Account">
		select ${column} from account where username = #{username}
	</select>
	<update id="updateAccountOneColumn">
		update account set ${column} = #{value} where username = #{username}
	</update>
	<insert id="insert">
		INSERT INTO account (username, password, mail, mail_send_time, auth_key)
		VALUES (#{username},#{password}, #{mail}, #{mailSendTime}, #{authKey})
	</insert>
	<insert id="insertAuthKey">
		insert into account (auth_key) values (#{authKey}) where username = #{username}
	</insert>
	<update id="IsEmailVerified">
		update account set isEmail_verified = 1 where username = #{username}
	</update>
	<select id="selectAuthKey" resultType="String">
		select auth_key from account where username = #{username}
	</select>
	<select id="selectPasswordByName" resultType="String">
		select password from account where
		username = #{username}
	</select>
	<select id="existsRegisterInfo" resultType="Integer">
		select exists ( select * from account where 
			${column} = #{value} ) as success
	</select>
</mapper>