<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProductMapper">
	<insert id="insertProduct" useGeneratedKeys="true" keyProperty="id" >
		INSERT into PRODUCT (
			name,
		    price,
		    type,
		    description,
		    num,
		    upload_time,
		    end_time,
		    phone_number
		) value (
			#{name},
			#{price},
			#{type},
			#{description},
			#{num},
			#{uploadTime},
			#{endTime},
			#{phoneNumber}
		)
		<selectKey resultType="int" keyProperty="productId" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<insert id="insertProductImage">
		
        INSERT INTO product_image (
            product_id,
           	original_image_name,
           	server_image_name,
           	size
        )
        VALUES
        <foreach item="item" collection="list" separator=",">
        (
            #{productId},
            #{item.originalImageName},
            #{item.serverImageName},
            #{item.size}         
        )
        </foreach>
	</insert>
	<select id="selectProducts" resultType="com.example.demo.model.Product">
		SELECT  A.name, B.server_image_name, A.rating
		  FROM product A, (
			SELECT MAX(product_id), product_id, server_image_name
			FROM product_image
			GROUP BY product_id, server_image_name
		) B
		group by A.product_id, B.server_image_name having MAX(B.product_id) limit 10
	</select>
</mapper>